<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="動作確認用Webアプリケーション" />
		<title>ecsfgex</title>
	</head>
	<body>
		<div>
			<p th:text="${contents}">ecsfgex default text on thymeleaf template!!</p>
		</div>
		<div>
			<p th:text="|availableProcessors = ${availableProcessors}|"></p>
		</div>
		<ul>
			<li><a href="https://github.com/hyakutem/ecsfgex" target="_blank">ソースコード - https://github.com/hyakutem/ecsfgex</a></li>
			<li><a href="/actuator">/actuator</a></li>
			<li><a href="/delay/1000">指定時間Sleepして"OK"を返す - /delay/{millis}</a></li>
			<li><a href="/rdelay/1000">指定時間以内でランダムにSleepして"OK"を返す - /rdelay/{millis}</a></li>
			<li><a href="/load/cpu">CPUに少し負荷かける - /load/cpu</a></li>
			<li><a href="/load/fu0101/500">CPUに少し負荷かける - /load/fu0101/{count}</a></li>
		</ul>
		<div>
			<div>環境変数一覧</div>
			<table border="1">
				<tr><th>No</th><th>KEY</th><th align="left">VALUE</th></tr>
				<tr th:each="e,status : ${envMap}">
					<td th:text="${status.count}">1</td>
					<td th:text="${e.key}">key</td>
					<td th:text="${e.value}">value</td>
				</tr>
			</table>
		</div>
	</body>
</html>
